@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<MudStack style="width:100%" Row AlignItems="AlignItems.End" Justify="Justify.SpaceBetween">
    <a href="/">
        <MudIcon Icon="@Icons.Material.Filled.Close" Size="Size.Large" />
    </a>
</MudStack>

<header>
    <h1 class="text-danger">Locked out</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
