@using MauiHybridAuth.Shared.Theme
@inherits LayoutComponentBase
@* @layout MauiHybridAuth.Web.Components.Layout.MainLayout *@
@inject NavigationManager NavigationManager

<style>
    body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100vh;
    justify-content: center;
    background-color: rgba(55,55,64,1);
    }
</style>

@if (HttpContext is null)
{
    <p>Loading...</p>
}
else
{
    <MudPaper Elevation="2" Class="pl-6 pr-6 pb-6 pt-3 bodydiv" style="max-width:1080px">
        @Body
    </MudPaper>
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    // protected override void OnParametersSet()
    // {
    //     if (HttpContext is null)
    //     {
    //         // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
    //         // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
    //         // must transition back from interactive mode to a server-rendered page.
    //         NavigationManager.Refresh(forceReload: true);
    //     }
    // }
}
