@inherits LayoutComponentBase
@layout AccountLayout

<MudStack style="width:100%" Row AlignItems="AlignItems.Start" StretchItems="StretchItems.Start" Justify="Justify.SpaceBetween">
    <MudText Typo="Typo.h4" GutterBottom="true">Manage your account</MudText>
    <MudSpacer />
    <a href="/">
        <MudIcon Icon="@Icons.Material.Filled.Close" Size="Size.Large" />
    </a>
</MudStack>
<MudGrid>
    <MudItem xs="12">
        <ManageNavMenu />
    </MudItem>
    <MudItem xs="12" Class="pt-1">
        @Body
    </MudItem>
</MudGrid>
